@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comfortaa:wght@300&family=Raleway:wght@100&family=Roboto:wght@100&display=swap');

body {
    /*Setting body to fill screen*/
    width: 97vw;
    background-color: var(--dgreen);
    background: linear-gradient(to bottom right, var(--lblue2), var(--lblue), var(--lgreen2), var(--dgreen), var(--dgreen), var(--dgreen2), var(--lyellow), var(--lyellow2));
}

#pageName {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: max(1px, 0.25vw);
}

/*Image sections - img, corresponding animation box, and text*/
.imgSpace {
    width: max(380px, 95vw);
    height: max(320px, 80vh);
}
.imgPic {
    position: relative;
    display: inline-block;
    width: max(180px, 45vw);
    height: max(200px, 50vh);
    left: max(4px, 1vw);
    border-radius: 1vw;
}
.imgAnimation {
    position: relative;
    text-align: center; 
    vertical-align: top;
    display: inline-block;
    width: max(160px, 40vw);
    height: max(200px, 50vh);
    left: max(40px, 10vw);
    border-radius: 1vw;
}
.imgList {
    position: relative;
    display: block;
    margin-left: auto;
    width: calc(max(400px, 95vw)-font-size);
    height: max(120px, 30vh);
    top: min(-20px, -2vh);
    text-align: center;
    overflow: auto;
    list-style: none;
}

/*The "wires" transporting energy*/
.pipe {
    position: absolute;
    left: max(60px, 15vw);
}
.wire {
    z-index: -1;
    position: relative;
    height: max(128px, 32vh);
    top: min(-4px, -1vh);
    box-shadow: 0 0 max(8px, 2vw) white;
    border-left: max(5px, 1.25vw) solid white;
    border-radius: 2px;
}
.electricity {
    z-index: -2;
    position: absolute;
    width: max(5px, 1.25vw);
    height: max(16px, 4vh);
    box-shadow: 0px 0px max(20px, 5vw) white;
    animation: flow 3s linear infinite;
}

/*Animation for flowing electricity*/
@keyframes flow {
    0%{}
    100%{
        transform: translate(0, max(184px, 46vh));
    }
}
@keyframes flowFinal{
    0%{}
    100%{
        transform: translate(0, max(180px, 45vh));
        box-shadow: none;
    }
}

/*Individual image borders, text, "electricity" and such*/
#img1, #ani1 {
    box-shadow: 0px 0px max(20px, 5vw) var(--lblue);
}
.elec1 {
    box-shadow: 0px 0px max(12px, 3vw) var(--lblue);
}
#text1 {
    color: var(--lblue);
}
#img2{
    box-shadow: 0px 0px max(20px, 5vw) var(--lgreen);
}
#ani2 {
    box-shadow: 0px 0px max(20px, 5vw) var(--dblue);
}
.elec2 {
    box-shadow: 0px 0px max(12px, 3vw) var(--lgreen);
}
#text2 {
    color: var(--lgreen);
}
#img3 {
    box-shadow: 0px 0px max(20px, 5vw) var(--lblue2);
}
#ani3 {
    box-shadow: 0px 0px max(20px, 5vw) var(--lyellow);
}
#text3 {
    color: var(--lorange);
}
#funding {
    color: var(--lorange);
}
#Greenhouse, #funding {
    color: var(--lorange);
    transition: 0.4s;
}
#funding:hover, #Greenhouse:hover {
    color: white;
}

/*Final animation box*/
#final {
    margin: auto;
    width: 97vw;
    height: max(320px, 80vh);
    text-align: center; 
    color: white;
    border: 2px solid white;
    border-radius: 1vw;
    box-shadow: 0px 0px max(4px, 1vw) white;
}
#finh2{
    text-align: center;
    width: max(320px, 97vw);
    height: max(40px, 4vh);
    overflow: show;
}
#charge {
    z-index: -1;
    position: absolute;
    width: max(120px, 30vw);
    height: max(60px, 15vh);
    left: max(60px, 15vw);
    border-top: none;
    border-right: none;
    border-left: max(5px, 1.25vw) solid white;
    border-bottom: max(5px, 1.25vw) solid white;
    border-bottom-left-radius: max(4px, 1vw);
    box-shadow: 0 max(4px, 1vw) max(4px, 1vw) min(-4px, -1vw) white, min(-4px, -1vw) 0 max(4px, 1vw) min(-4px, -1vw) white;
}
.button{
    z-index: 1;
    display: inline-block;
    width: max(160px, 20vw);
    height: max(40px, 10vh);
    border: 1px solid white;
    border-radius: 1vw;
    background-color: var(--dgreen);
    color: white;
    cursor: pointer;
    animation: bgChange 10s infinite alternate;
}
.button h2 {
    transition: 0.2s;
}
.button:hover {
    color: var(--lyellow);
}
@keyframes bgChange{
    0%{background-color: var(--lgreen)}
    20%{background-color: var(--dgreen)}
    40%{background-color: var(--lgreen2);}
    60%{background-color: var(--lblue);}
    80%{background-color: var(--lblue2);}
    100%{background-color: var(--lgreen2);}
}

/*Final Animation*/
.wifi{
    margin: auto;
    position: relative;
    top: max(12px, 3vh);
    width: max(64px, 16vw);
    height: max(64px, 16vh);
}
.signal{
    margin: auto;
    position: relative;
    width: max(64px, 16vw);
    height: max(64px, 16vh);
    border: 4px solid transparent;
    border-bottom-color: rgb(70, 255, 110);
    border-radius: 100%;
    animation: broadcast 1.5s linear infinite alternate, borderChange 10s infinite alternate;
}
@keyframes broadcast{
    from{
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}
@keyframes borderChange{
    20%{border-bottom-color: var(--dgreen)}
    40%{border-bottom-color: var(--lgreen2);}
    60%{border-bottom-color: var(--lblue);}
    80%{border-bottom-color: var(--lblue2);}
    100%{border-bottom-color: var(--lgreen2);}
}

#gallery {
    display: grid;
    position: relative;
    margin: auto;
}
.side {
    grid-column: 1;
    grid-row: 1;
    display: inline-block;
    position: relative;
    margin: auto;
    width: max(100px, 25vw);
    height: max(120px, 30vh);
    transition: 1s;
    transform-origin: max(40px, 10vw) max(40px, 10vh);
    border-radius: 1vw;
}
@keyframes slide {
    0% {}
    50% {
        transform: translate(min(-132px, -33vw), min(-20px, -5vh))  rotate(-10deg);
    }
    100% {
        z-index: -1;
    }
}
@keyframes slideR {
    0% {}
    50% {
        transform-origin: max(60px, 15vw) max(40px, 10vh);
        transform: translate(max(132px, 33vw), min(-20px, -5vh))  rotate(10deg);
    }
    100% {
        z-index: -1;
    }
}