
div {
    display: flex;
    justify-content: space-between;
    
  }
  .img-profil1{
      width: 400px;
  }
  body {
    background-color: rgb(0,100, 5);
    
  } 
  h1{

    font-family: font-family: 'Comfortaa', cursive;
  }
  .img-profil2{
    width: 400px;
  }

  .img-profil3{
    width: 400px;
}
.img-profil4{
    width: 400px;
}
.img-profil5{
    width: 400px;
}
.img-profil6{
    width: 400px;
}
h2{
    font-size: x-large;
    font-family: 'Raleway', sans-serif;
}
.mail{
    display: inline-block;
    text-decoration: none;
    color:white;
    
}
button{
    display: inline-block;
    background: rgb(0, 100, 5);
    color: white;
    border: none;
    font-family: 'Comfortaa', cursive;
    width: 100px;
}
.mail:hover{
     box-shadow:7px 7px 9px  black;
}

input{
    display: inline-block;
    background: rgb(0, 100, 5);
    color: white;
    font-size: 17px;
    border: none;
    font-family: 'Comfortaa', cursive;
    width: 200px;
}
input:hover{
    box-shadow:7px 7px 9px  whitesmoke;
    
    color:whitesmoke;
}
script{
  font-family: 'Comfortaa', cursive;
  color: white;
}
div {
  font-family: 'Comfortaa', cursive;
  color: white;
}
.profile{
  font-family: 'Comfortaa', cursive;
  color: white;
}
.img-profil1:hover{
  box-shadow: 7px 7px 9px whitesmoke;

}
.img-profil2:hover{
  box-shadow: 7px 7px 9px whitesmoke;

}
.img-profil3:hover{
  box-shadow: 7px 7px 9px whitesmoke;

}
.img-profil4:hover{
  box-shadow: 7px 7px 9px whitesmoke;

}
.img-profil5:hover{
  box-shadow: 7px 7px 9px whitesmoke;

}
.img-profil6:hover{
  box-shadow: 7px 7px 9px whitesmoke;

}